In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [22]:
train_path = "train.csv"
test_path = "test.csv"

In [8]:
import os

In [9]:
os.getcwd()

'/root/.notebooktemp'

In [12]:
os.chdir('/root')
os.getcwd()

'/root'

In [13]:
os.listdir()

['.ipython',
 '.config',
 '.cache',
 '.local',
 '.notebooktemp',
 '.mongorc.js',
 '.dbshell',
 '.oracle_jre_usage',
 '.jupyter',
 '.conda',
 'userspace',
 '.bashrc',
 '.profile']

In [16]:
os.listdir()

['.ipython',
 '.config',
 '.cache',
 '.local',
 '.notebooktemp',
 '.mongorc.js',
 '.dbshell',
 '.oracle_jre_usage',
 '.jupyter',
 '.conda',
 'userspace',
 '.bashrc',
 '.profile']

In [18]:
os.chdir("userspace/")

In [19]:
os.listdir()

['public', '4-23']

In [20]:
os.chdir('4-23/competitions/wine_quality')

In [21]:
os.listdir()

['README.ipynb', 'train.csv', 'test.csv', 'EDA.ipynb', 'sample_submission.csv']

In [23]:
df_train = pd.read_csv(train_path)
df_test = pd.read_csv(test_path)

In [24]:
df_train.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [25]:
df_test.head()

,id,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,0,5.6,0.66,0.00,2.5,0.066,7.0,15.0,0.99256,3.52,0.58,12.9
1,1,7.9,0.54,0.34,2.5,0.076,8.0,17.0,0.99235,3.20,0.72,13.1
2,2,6.6,0.50,0.00,1.8,0.062,21.0,28.0,0.99352,3.44,0.55,12.3
3,3,6.3,0.47,0.00,1.4,0.055,27.0,33.0,0.99220,3.45,0.48,12.3
4,4,10.7,0.40,0.37,1.9,0.081,17.0,29.0,0.99674,3.12,0.65,11.2

In [26]:
df_train.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1119.000000,1119.000000,1119.000000,1119.000000,1119.000000,1119.000000,1119.000000,1119.000000,1119.000000,1119.000000,1119.000000,1119.000000
mean,8.678105,0.521649,0.295979,2.579267,0.089721,15.207328,47.179625,0.997167,3.296461,0.665532,10.334227,5.650581
std,1.795471,0.178961,0.198815,1.277500,0.048806,10.085498,34.210922,0.001853,0.156366,0.178248,1.074463,0.810473
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.400000,0.390000,0.120000,1.900000,0.072000,7.000000,22.000000,0.996200,3.190000,0.560000,9.500000,5.000000
50%,8.300000,0.510000,0.290000,2.250000,0.081000,13.000000,38.000000,0.997200,3.300000,0.620000,10.000000,6.000000
75%,9.700000,0.630000,0.470000,2.700000,0.092500,21.000000,63.000000,0.998200,3.390000,0.730000,11.000000,6.000000
max,15.900000,1.330000,1.000000,15.500000,0.611000,68.000000,289.000000,1.003200,3.900000,2.000000,14.900000,8.000000